/***************
TABLE STYLES
***************/

table {
	width: 100%;
	margin-bottom: 1.5em;
	border-collapse: collapse;
	table-layout: fixed;

	caption {
		margin: 0 0 7px;
		font-size: 0.75em;
		color: $grey;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}

tr {

	&:nth-child(even) {
		background-color: #eeeeee;
	}
}

th, td {
	text-align: left;
	padding: .5em;
	word-break: break-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: clamp(0.7em, 1vw, 1em);
	max-width: 120px;
	position: relative;
}

th {
	background-color: $primary-color;
	color: white;

	&:last-child {
		border-right: 0;
	}
}

th:hover, td:hover {
	white-space: normal;
	overflow: visible;
	background: #a0a0a0;
	z-index: 10;
}