/***************
TABLE STYLES
***************/

table {
	width: 100%;
	margin-bottom: 1.5em;
	border-collapse: collapse;
	table-layout: fixed;

	caption {
		margin: 0 0 7px;
		font-size: 0.75em;
		color: $grey;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}

tr {

	&:nth-child(even) {
		background-color: #eeeeee;
	}
}

th, td {
	text-align: left;
	padding: .75em .5em;
	word-break: normal;
	overflow-wrap: break-word;
	font-size: clamp(0.8em, 1vw, 1em);
	line-height: 1.4;
}

th {
	background-color: $primary-color;
	color: white;

	&:last-child {
		border-right: 0;
	}
}

th:hover, td:hover {
	background: #a0a0a0;
}